.detail-row{
    display: flex;
    flex-direction: row;
   /* flex-grow: 1; */
    flex-wrap: wrap;
    min-width: 95vw;
  /*  max-height: 100vh;
    height: 15vh;*/
    height: 35px;
    color: #fff;
    margin-bottom: 2rem;
}

.detail-row2{
    display: flex;
    flex-direction: row;
   /* flex-grow: 1; */
    flex-wrap: wrap;   
    height: 15vh;
    color: #fff;
    /*margin-bottom: 2rem;*/
    margin-top: -10px;
}

.detail-row2 > p{
    font-size: xxx-large;
}


.detail-row2 > p:nth-child(odd) {
    color: #fff;
}

.detail-row2 > p:nth-child(even) {
    color: #9A9A9A;
}

.detail-column{
    display: flex;
    flex-direction: column;
    background-color: initial;
    width: 33%;
    height: 100%;
    max-height: inherit;   
    transition: 0.3s;      
}

.detail-column2{
    display: flex;
    flex-direction: column;
    background-color: initial;
    width: 33%;
    height: 100%;
    max-height: inherit;   
    transition: 0.3s;      
}

.detail-column > img{
    margin-top: 40px;
}

/* Responsive CSS for mobile*/
/* On screens that are 500px or less, set the background color to olive */
@media screen and (max-width: 500px) {
    .detail-row2 > p{
        font-size: x-large;
        margin-right: 7px;
    }
    .detail-column > img{
        margin-top: 10px;
    }
}